*
    margin 0
    padding 0
ol,ul,li
    list-style none
a
    text-decoration none
body    
    display flex
    align-items center
    justify-content center
.container
    width 10rem
    min-height 100vh
    height auto 
    .page
        width 10rem
        height 100%  
        &.page1
            background url('http://gw.alicdn.com/mt/TB1d0ZJSpXXXXclXXXXXXXXXXXX-750-1204.jpg') no-repeat
            width 10rem
            height 100%
            background-size cover 
            .rule_btn
                
        
            


                     
     
    

   
    


